
*{
  background-color: lightgray;
}
.container{
  padding: 10px;
}
.tagLabel {
  background: #fff;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  color: black;
}

span[tag="ORG"] {
  background: lightskyblue;
  padding: 2px 10px;
  border-radius: 5px;
  color: black;
  white-space: nowrap;
}

span[tag="PERSON"] {
  background: #96CC39;
  padding: 2px 10px;
  border-radius: 5px;
  color: black;
  white-space: nowrap;
}

span[tag="DATE"] {
  background: lightseagreen;
  padding: 2px 10px;
  border-radius: 5px;
  color: black;
  white-space: nowrap;
}

span[tag="NORP"] {
  background: hotpink;
  padding: 2px 10px;
  border-radius: 5px;
  color: black;
  white-space: nowrap;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}